@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;500&display=swap');

body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
}

html {
    background: linear-gradient(to bottom, rgb(7, 21, 46), rgb(9, 85, 125));
    background-size: contain;
    background-repeat: no-repeat;  
}

body {
    /* background: linear-gradient(to bottom, rgb(7, 21, 46), rgb(9, 85, 125)); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: 'Kanit', sans-serif;
    min-height: 100vh;
}

#header {
    background-image: url(./clouds.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 10vh;
    padding: 15px;
    font-size: 2.5rem;
    justify-content: space-between;
    align-items: center;
}

#site-name-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-weight: 700;
}

#icon {
    height: 100px;
    width: 100px;
}

#search-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgb(101, 118, 145);
    border-radius: 20px;
}

#search-bar {
    padding: 10px;
    font-size: 1rem;
    border-radius: 20px;
    border: none;
    background-color: rgb(101, 118, 145);
    color: white;
}

#search-bar::placeholder {
    color: rgb(193, 218, 226);
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

#search-btn {
    padding: 10px;
    font-size: 1rem;
    background-color: rgb(171, 171, 171); 
    border: none;
    border-radius: 20px;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

#search-btn:hover {
    cursor: pointer;
}

#units-container {
    width: 50px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: rgb(182, 182, 182);
    font-size: 1.1rem;
    padding: 7px;
    background:rgb(54, 70, 94);
    border: 2px solid black
}

#units-container:hover {
    cursor: pointer;
}

#selected-unit {
    color: rgb(141, 228, 216);
    font-weight: bold;
}

#body-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-height: 100vh;
}

#top-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#location-container {
    padding: 20px;
    text-align: center;
}

#current-location {
    font-size: 1.5rem;
    font-weight: bold;
}

#current-country {
    font-weight: 200;
}

#current-weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-bottom: 50px;
    border: 2px white solid;
    border-radius: 40%;
    width: 250px;
    gap: 15px;
    font-size: 1.2rem;
}

#condition-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#current-condition-icon {
    width: 100px;
    height: 85px;
}

#temp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#current-temp {
    font-size: 2.5rem;
    font-weight: bold;
}

#feels-like,
#current-wind {
    font-size: 1rem;
    font-weight: 300;
}

#bottom-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#forecast-container {
    width: 700px;
    margin: auto 0;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.forecast {
    background-color: rgba(18, 119, 173, 0.502);
    color: rgb(186, 186, 186);
    height: 125px;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 30px 30px;
}

.forecast-day {
    color: rgb(186, 186, 186);
    font-size: 1.1rem;
    font-weight: bold;
}

.forecast-date {
    font-weight: 300;
}

.forecast-icon {
    grid-column: 1;
    grid-row: 2 / 3;
}

.forecast-max {
    grid-column: 2;
    grid-row: 2;
    align-self: end;
    font-weight: 400;
}

.forecast-min {
    grid-column: 2;
    grid-row: 3;
    align-self: end;
    font-weight: 300;
    
}