body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

html {
    background: linear-gradient(to bottom, rgb(7, 21, 46), rgb(9, 85, 125));
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

#header {
    background-image: url(./clouds.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 10vh;
    padding: 15px;
    font-size: 2.5rem;
    justify-content: space-between;
    align-items: center;
}

#site-name-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#icon {
    height: 100px;
    width: 100px;
}

#search-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgb(101, 118, 145);

    border-radius: 20px;
}

#search-bar {
    padding: 10px;
    font-size: 1rem;
    border-radius: 20px;
    border: none;
    background-color: rgb(101, 118, 145);
    color: white;
}

#search-bar::placeholder {
    color: rgb(193, 218, 226);
}

#search-btn {
    padding: 10px;
    font-size: 1rem;
    background-color: rgb(171, 171, 171); 
    border: none;
    border-radius: 20px;
}

#search-btn:hover {
    cursor: pointer;
}

#body-container {
    display: flex;
    flex-direction: column;
    gap: 70px;

}

#top-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#location-container {
    padding: 25px;
    text-align: center;
}

#current-location {
    font-size: 1.5rem;
    font-weight: bold;
}

#current-weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-bottom: 50px;
    border: 2px white solid;
    border-radius: 40%;
    width: 25%;
    gap: 25px;
    font-size: 1.2rem;
}

#condition-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

#current-condition-icon {
    width: 100px;
    height: 85px;
}

#temp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#current-temp {
    font-size: 2.5rem;
    font-weight: bold;
}

#feels-like,
#current-wind {
    font-size: 1rem;
}

#bottom-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#forecast-container {
    width: 80%;
    margin-left: auto;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.forecast {
    background-color: rgba(18, 119, 173, 0.502);
    color: rgb(186, 186, 186);
    height: 150px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 30px 30px;
}

.forecast-day {
    color: rgb(186, 186, 186);
    font-size: 1.1rem;
    font-weight: bold;
}

.forecast-icon {
    grid-column: 1;
    grid-row: 2 / 3;
}

.forecast-max {
    grid-column: 2;
    grid-row: 2;
    align-self: end;
}

.forecast-min {
    grid-column: 2;
    grid-row: 3;
    align-self: end;
    
}